# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
#
# This Kconfig file is picked by the Zephyr build system because it is defined
# as the module Kconfig entry point (see zephyr/module.yml). You can browse
# module options by going to Zephyr -> Modules in Kconfig.

rsource "drivers/Kconfig"

config EC_LOG_LEVEL
    int "Log level for EC module"
    default 3
    help
      Set the log level for the EC module. The log levels are:
      0: None
      1: Error
      2: Warning
      3: Info
      4: Debug
